@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Pacifico&display=swap');

/* ---------------------------Colors--------------------------- */

body {
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

/* ---------------------------General--------------------------- */

a {
    text-decoration: none;
}

ul {
    margin: 0;
}

/* ---------------------------Header--------------------------- */

header {
    margin: 0;
}

#header-row {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    min-height: 75px;
}

.nav-menu-item {
    margin: 0;
    width: 75px;
    padding-top: 20px;
    padding-bottom: 16px;
}

.header-anchor,
.header-anchor:link,
.header-anchor:visited,
.header-anchor:active { 
    text-decoration : none;
    color : #902451;
}

.header-anchor span:hover { 
    text-decoration : none;
    color : rgba(144, 36, 80, 0.52);
}

.logo {
    font-family: "Pacifico", cursive;
    position: absolute;
    font-size: 50px;
    margin-left: 20px;
    color: #902451;
}

.menu-container {
    float: right;
    padding-right: 15px;
    margin-top: 10px;
}

.dropdown-container {
    width: 60px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 12px;
}

.dropdown .btn-secondary {
    color: #fff;
    background-color: #902451;
    border-color: #fff;
    margin-bottom: 8px;
}

.dropdown .btn-secondary:hover,
.dropdown .btn:focus {
    color: #fff;
    background-color: #9024504d;
    border-color: #fff;
}

#dropdown-item-home:hover,
#dropdown-item-gallery:hover,
#dropdown-item-lessons:hover,
#dropdown-item-contact:hover {
    color: #fff;
    background-color:#9024504d;
    border-color: #fff;
}

@media screen and (max-width: 767px) {
  .nav-menu-item {
    display: none;
  }
  .logo {
    font-size: 40px;
  }
}

/* ---------------------------Footer--------------------------- */

footer {
    margin: 0;
}

#footer-row {
    padding-top: 5px;
    padding-bottom: 5px;
    color: fff;
    background-color: #902451;
    min-height: 75px;
}

.footer-column {
    margin: auto;
}

.footer-column-1 {
    padding-left: 60px;
    text-align: left;
}

.footer-column-1-item {
    display: inline;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 120%;
}

.footer-column-2 {
    text-align: center;
    padding: 0;
}

.footer-column-2-item {
    vertical-align: middle;
    margin: 0 10px;
}

.footer-column-3 {
    padding-right: 60px;
    text-align: right;
}

.footer-column-3-item {
    display: inline;
    vertical-align: middle;
    padding-right: 40px;
    font-size: 120%;
}

.footer-icon {
    font-size: 220%;
}

.footer-anchor,
.footer-anchor:link,
.footer-anchor:visited,
.footer-anchor:active { 
    text-decoration : none;
    color : #fff;
}

.footer-anchor:hover { 
    text-decoration : none;
    color : rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 767px) {
  .footer-column-1-item {
    display: none;
  }
  .footer-column-3-item {
    display: none;
  }
}

/* ---------------------------index.html--------------------------- */

#hero-row {
    background-color: #9024504d;
}

#hero-row div {
    padding: 0;
    text-align: center;
}

.hero-item {
    margin: 0;
}

.hero-image-cover {
    background-color: #9024504d;
}

.hero-image-cover img {
   object-fit: cover;
   opacity: 0.8;
}

#main-heading-box {
    width: 80%;
    background-color: rgba(144, 36, 80, 0.52);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px !important;
    border-radius: 10%;
}

.main-heading {
    text-align: center;
    padding: 40px 10px 0;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
}

#secondary-heading-box {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.15);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.secondary-heading {
    text-align: center;
    padding: 20px 10px 20px;
    letter-spacing: 1px;
    font-size: 15px;
}

#customer-review-heading {
    padding: 0 10px 20px;
}

#main-lessons-box {
    width: 250px;
    background-color: rgb(159, 181, 152, 0.9);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 10%;
}

.main-lessons {
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    margin: 0;
    padding: 10px 20px 10px !important;
}

#lessons-anchor {
    margin: 0;
    font-family: "Pacifico", cursive;
    font-size: 25px;
}

.lessons-tag {
    margin-top: 5px;
}

#lessons-anchor,
#lessons-anchor:link,
#lessons-anchor:visited,
#lessons-anchor:active { 
    text-decoration : underline;
    color : #fff;
}

#lessons-anchor:hover { 
    text-decoration : underline;
    color : rgba(144, 36, 80, 0.6);
}

.cake-type-row {
    background-color: #fff;
    left: 0;
}

#last-cake-type-row {
    padding-bottom: 60px;
}

.cake-item {
    padding: 20px 0 0;
}

.cake-type {
    width: 220px;
    height: 220px;
    padding: 15px;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    margin: 15px auto 10px;
    border-color: #9024504d;
}

.cake-image {
    background-size: contain;
    height: 100%;
    border-radius: 50%;
    transition: transform .2s;
}

.cake-image:hover {
    transform: scale(1.1); 
}

.cake-type-heading {
    color: #902451;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
}

.cake-testimonial-box {
    color: #fff;
    background-color: rgba(144, 36, 80, 0.4);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;
    margin-top: 25px;
}

.testimonal-content {
    padding: 30px 40px 0;
    text-align: center;
}

.testimonal-provider {
    color: #902451;
    text-align: right;
    padding: 0 30px 15px;
}

@media screen and (max-width: 768px) {
  .hero-image-cover {
      display: none;
  }
}

@media screen and (max-width: 1200px) {
  #main-lessons-box {
      display: none;
  }
  #customer-review-heading {
      display: none;
  }
  .cake-testimonial-box {
      display: none;
  }
}

@media screen and (min-width: 1200px) {
  #first-cake-type-row {
      padding: 30px 5% 30px;
  }
  .cake-type {
    width: 300px;
    height: 300px;
    padding: 40px;
    border-width: 5px;
    margin: 15px auto 15px;
 }
  .cake-type-heading {
      font-size: 30px;
  }
  .cake-image:hover {
    transform: scale(1.2); 
}
}
