@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Pacifico&display=swap');

/* ---------------------------Colors--------------------------- */

body {
    background-color: #caadbd;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

/* ---------------------------General--------------------------- */

a {
    text-decoration: none;
}

ul {
    margin: 0;
}

/* ---------------------------Header--------------------------- */

header {
    margin: 0;
}

#header-row {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    min-height: 75px;
}

.nav-menu-item {
    margin: 0;
    width: 75px;
    padding-top: 20px;
    padding-bottom: 16px;
}

.header-anchor,
.header-anchor:link,
.header-anchor:visited,
.header-anchor:active { 
    text-decoration : none;
    color : #4d0f3d;
}

.header-anchor span:hover { 
    text-decoration : none;
    color : #ae5999; 
}

.logo {
    font-family: "Pacifico", cursive;
    position: absolute;
    font-size: 50px;
    margin-left: 20px;
    color: #4d0f3d;
}

.menu-container {
    float: right;
    padding-right: 15px;
    margin-top: 10px;
}

.dropdown-container {
    width: 60px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 12px;
}

.dropdown .btn-secondary {
    color: #fff;
    background-color: #4d0f3d;
    border-color: #fff;
    margin-bottom: 8px;
}

.dropdown .btn-secondary:hover,
.dropdown .btn:focus {
    color: #fff;
    background-color: #ae5999;
    border-color: #fff;
}

#dropdown-item-home:hover,
#dropdown-item-gallery:hover,
#dropdown-item-lessons:hover,
#dropdown-item-contact:hover {
    color: #fff;
    background-color:#ae5999;
    border-color: #fff;
}

@media screen and (max-width: 767px) {
  .nav-menu-item {
    display: none;
  }
  .logo {
    font-size: 40px;
  }
}

/* ---------------------------Footer--------------------------- */

footer {
    margin: 0;
}

#footer-row {
    padding-top: 5px;
    padding-bottom: 5px;
    color: fff;
    background-color: #4d0f3d;
    min-height: 75px;
}

.footer-column {
    margin: auto;
}

.footer-column-1 {
    padding-left: 60px;
    text-align: left;
}

.footer-column-1-item {
    display: inline;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 120%;
}

.footer-column-2 {
    text-align: center;
    padding: 0;
}

.footer-column-2-item {
    vertical-align: middle;
    margin: 0 10px;
}

.footer-column-3 {
    padding-right: 60px;
    text-align: right;
}

.footer-column-3-item {
    display: inline;
    vertical-align: middle;
    padding-right: 40px;
    font-size: 120%;
}

.footer-icon {
    font-size: 220%;
}

.footer-anchor,
.footer-anchor:link,
.footer-anchor:visited,
.footer-anchor:active { 
    text-decoration : none;
    color : #fff;
}

.footer-anchor:hover { 
    text-decoration : none;
    color : #dfcdd8; 
}

@media screen and (max-width: 767px) {
  .footer-column-1-item {
    display: none;
  }
  .footer-column-3-item {
    display: none;
  }
}

/* ---------------------------index.html--------------------------- */

#hero-row div {
    padding: 0;
    text-align: center;
}

.hero-item {
    margin: 0;
}

.hero-image-cover {
    background-color: #caadbd;
}

.hero-image-cover img {
   object-fit: cover;
   opacity: 0.8;
}

#main-heading-box {
    width: 75%;
    background-color: rgb(77, 15, 61, 0.4);
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px !important;
    border-radius: 10%;
}

.main-heading {
    text-align: center;
    padding: 40px 10px 0;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: "Montserrat", sans-serif;
}

#secondary-heading-box {
    width: 80%;
    background-color: rgb(77, 15, 61, 0.4);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.secondary-heading {
    text-align: center;
    padding: 20px 10px 20px;
    letter-spacing: 1px;
    font-size: 15px;
}

#main-lessons-box {
    width: 30%;
    background-color: rgb(159, 181, 152, 0.9);
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 5%;
    margin-right: 10%;
    border-radius: 10%;
}

.main-lessons {
    text-align: center;
    letter-spacing: 1px;
    font-size: 17px;
    margin: 0;
    padding: 30px 35px 30px !important;
}

#lessons-anchor {
    margin: 0;
    font-family: "Pacifico", cursive;
    font-size: 30px;
}

.lessons-tag {
    margin-top: 20px;
}

#lessons-anchor,
#lessons-anchor:link,
#lessons-anchor:visited,
#lessons-anchor:active { 
    text-decoration : none;
    color : #fff;
}

#lessons-anchor:hover { 
    text-decoration : none;
    color : #ae5999; 
}

@media screen and (max-width: 1200px) {
  .hero-image-cover {
      display: none;
  }
}

@media screen and (min-width: 1200px) {
    #main-heading-box {
        width: 500px;
        margin-left: 60px;
    }
    #secondary-heading-box {
        width: 70%;
    }
    .main-heading {
        padding: 40px 40px 0;
    }
}